on post-fs-data
    # Directory for GPS
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/beidou_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info
    #Permissions for gnss
    chmod 0660 /dev/gnss_ipc
    chown system system /dev/gnss_ipc

# GPS
service gpsd /vendor/bin/hw/gpsd -c /vendor/etc/gnss/gps.cfg
    class main
    user gps
    group system inet net_raw wakelock
    ioprio be 0


